.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.pane {
  display: flex;
  width: 100%;
}

.left-pane {
  position: relative;
  width: 55%;
  margin: 30px;
  background-color: #fff;
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

.right-pane {
  width: 30%;
  margin: 30px;
  background-color: #fff;
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}